.box {
    border: 1px solid #ddd;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    cursor: pointer;
}

.box:hover {
    .icon_div img {
        /* scale: 1.2; */
        object-fit: contain;
    }
}

.box_contents {
    display: flex;
    align-items: center;
    gap: 20px;
}

.icon_div {
    background: #F8F8F8;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.icon_div img {
    scale: 1.6;
    /* width: 35px;
    height: 35px; */
    transition: .2s ease;

}

.content {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.test {
    color: red;
}