.order-outer-div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1rem;
    // padding: 1rem;
  }
  
  .order-card {
    background: #fff;
    border: 1px solid #DDDDDD;
    border-radius: 10px;
    // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    transition: transform 0.2s;
  
    // &:hover {
    //   transform: translateY(-5px);
    // }
  
    &-header {
      align-items: center;
      margin-bottom: 1rem;
  
      .order-id {
        margin-top: 20px;

        .label {
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;
            color: #1C1C1C;
          }
        
          .value {
            font-size: 15px;
            font-weight: 600;
            line-height: 24px;
            color: #1C1C1C;
          }
      }
  
      .order-status {
        padding: 0.3rem 0.6rem;
        font-size: 14px;
        line-height: 24px;
        font-weight: 500;
        text-transform: capitalize;
        color: #FFFFFF;
        
  
        &.outfordelivery {
          background-color: #F97316;
            font-size: 14px;
            line-height: 24px;
            font-weight: 500;
            text-transform: capitalize;
            color: #FFFFFF;
        }
        &.delivered {
            background-color: #0d3206;
              font-size: 14px;
              line-height: 24px;
              font-weight: 500;
              text-transform: capitalize;
              color: #FFFFFF;
          }

          &.pending {
            background-color: #e0ae1b;
              font-size: 14px;
              line-height: 24px;
              font-weight: 500;
              text-transform: capitalize;
              color: #FFFFFF;
          }
        /* Add more status styles if needed */
      }
    }
  
    &-body {
        .address {
          margin-bottom: 1rem;
          font-size: 15px;
          font-weight: 500;
          line-height: 26px;
          color: #1C1C1C;
        }
    
        .customer-order-date-row {
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
    
          .username,
          .order-date {
            font-size: 15px;
            font-weight: 500;
            line-height: 24px;
            color: #1C1C1C;
            margin: 0;
    
          }
          .order-user,
          .date {
                font-size: 14px;
                font-weight: 400;
                line-height: 24px;
                 color: #1C1C1C;
            }
        }
      }
    }
  