.link{
    background:#ffffff1a;
    border-radius:30px;
    display:flex !important;
    align-items:center;
    gap:10px;
    transition:.2s ease;
    margin-bottom:15px;
    
}

.link .icon_round{
    width:25px;
    height:25px;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:50%;
    transition:.5s ease;
}
.link:hover,.link.active{
    background:#ffffff30;
    && .icon_round{
        background:#fff;
    }
    && svg{
        fill:red !important;
    }
    
}
.link svg{
    transition:.2s ease;
    padding:0 !important;
    margin:0 !important;
    fill:#fff !important;
    /* width:16 !important; */
    /* height:16 !important; */
}